/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/* ------- THANKS OPEN SOURCE COMMUNITY! ------- */
/* http://stackoverflow.com/questions/15354772/how-can-i-change-the-pivot-point-of-this-flip-animation */
/* http://thecodeplayer.com/walkthrough/pure-css3-animated-clouds-background */
/* http://www.colorzilla.com/gradient-editor/ */

/* ------- MESSAGE FOR FUTURE-ME: PLEASE, REFACTOR THIS FILE ------- */
/* Sass? */
/* A lot of code repetition */
/* For re-usability, some classes could live in different files */

*{ margin: 0; padding: 0}
body {
}
.village {
  width: 100%;
  height: 500px;
}
.night_sky {
  width: 100%;
  height: 200vh;
  position: relative;
  z-index: -290;
  background: rgb(0,0,0);
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI2MCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI5MyUiIHN0b3AtY29sb3I9IiNjYmRiZTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(0,0,0,1) 60%, rgba(203,219,232,1) 93%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%,rgba(0,0,0,1)), color-stop(93%,rgba(203,219,232,1)));
  background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 60%,rgba(203,219,232,1) 93%);
  background: -o-linear-gradient(top,  rgba(0,0,0,1) 60%,rgba(203,219,232,1) 93%);
  background: -ms-linear-gradient(top,  rgba(0,0,0,1) 60%,rgba(203,219,232,1) 93%);
  background: linear-gradient(to bottom,  rgba(0,0,0,1) 60%,rgba(203,219,232,1) 93%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#cbdbe8',GradientType=0 );
}
.stars {
  width: 100%;
  height: 120vh;
  background-image: url('http://h6c5.com/system/pictures/avatars/000/000/010/original/stars.png?1426401358');
  position: absolute;
  z-index: 100;
  opacity: .6
}
#big_top {
  width: 60%;
  height: 90%;
  background-image: url('http://h6c5.com/system/pictures/avatars/000/000/011/original/circus.png?1426401422');
  background-size:contain;
  background-repeat: no-repeat;
  background-position: right bottom;
  position: relative;
  z-index: -6;
  right: -35%;
  margin-top: -400px;
}
.road {
  width: 100%;
  height: 200px;
  position: relative;
  z-index: -7;
  margin-top:-270px;
  background: rgb(133,196,15);
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI2JSIgc3RvcC1jb2xvcj0iIzg1YzQwZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjYxJSIgc3RvcC1jb2xvcj0iIzVjNzcwOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0ZjYwMDciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(133,196,15,1) 6%, rgba(92,119,9,1) 61%, rgba(79,96,7,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(6%,rgba(133,196,15,1)), color-stop(61%,rgba(92,119,9,1)), color-stop(100%,rgba(79,96,7,1)));
  background: -webkit-linear-gradient(top,  rgba(133,196,15,1) 6%,rgba(92,119,9,1) 61%,rgba(79,96,7,1) 100%);
  background: -o-linear-gradient(top,  rgba(133,196,15,1) 6%,rgba(92,119,9,1) 61%,rgba(79,96,7,1) 100%);
  background: -ms-linear-gradient(top,  rgba(133,196,15,1) 6%,rgba(92,119,9,1) 61%,rgba(79,96,7,1) 100%);
  background: linear-gradient(to bottom,  rgba(133,196,15,1) 6%,rgba(92,119,9,1) 61%,rgba(79,96,7,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#85c40f', endColorstr='#4f6007',GradientType=0 );
}
.bush {
  width: 100%;
  height: 100PX;
  margin-top: -170px;
  position: relative;
  bottom:0;
  z-index: 4;
  float: left;
  background-image: url('http://h6c5.com/system/pictures/avatars/000/000/012/original/bushes2.png?1426401494');
  background-size: fill;
  background-repeat: repeat-x;
}
.back {
  width: 100%;
  height: 30vh;
  bottom: 0;
  margin-top: -40vh;
  position: relative;
  z-index: -7;
  background-image: url('http://h6c5.com/system/pictures/avatars/000/000/013/original/back.png?1426401558');
  background-size: cover;
  background-repeat: repeat-x;
}
.villa {
  width: 100%;
  height: 12vh;
  margin-top: -12vh;
  margin-left: -22%;
  padding-right: 22%;
  position: relative;
  z-index: -6;
  background-image: url('http://h6c5.com/system/pictures/avatars/000/000/014/original/villa_02.png?1426401620');
  background-size: contain;
  background-repeat: repeat-x;
  opacity: .5;
}
.wheel_game {
  width: 500px;
  height: 100%;
  margin-top: -280px;
}
.wheel {
  width: 100%;
  height: 100%;
  margin-top: -120%;
  margin-left: -30%;
  position: relative;
  z-index: -2;
  background-image: url('http://h6c5.com/system/pictures/avatars/000/000/015/original/wheel.png?1426401690');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  -webkit-animation: wheel 25s linear infinite;
  -moz-animation: wheel 25s linear infinite;
  -o-animation: wheel 25s linear infinite;
}
.wheel_base {
  width: 55%;
  height: 75%;
  margin-top:-20%;
  margin-left:-6%;
  position: relative;
  z-index: -6;
  background-image: url('http://h6c5.com/system/pictures/avatars/000/000/016/original/wheel_base.png?1426401728');
  background-size: contain;
  opacity: .7;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel {
  width: 300px;
  height: 280px;
  margin-left: 28%;
  margin-top: -410px;
  background-image: url('http://h6c5.com/system/pictures/avatars/000/000/017/original/carousel.png?1426401772');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 3;
  float: left;
}
.carousel_base {
  width: 240px;
  height: 280px;
  margin-left: 30%;
  margin-top: -410px;
  position: relative;
  z-index: 1;
  float: left;
  background-image: url('http://h6c5.com/system/pictures/avatars/000/000/018/original/carousel_base.png?1426401803');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.horse_green {
  width: 120px;
  height: 150px;
  margin-left: 30%;
  position: relative;
  z-index: 2;
  background-image: url('http://h6c5.com/system/pictures/avatars/000/000/019/original/carousel_horse_green.png?1426401884');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  float:left;
  -webkit-animation: up_down 4s linear infinite;
  -moz-animation: up_down 4s linear infinite;
  -o-animation: up_down 4s linear infinite;
}
.horse_orange {
  width: 120px;
  height: 150px;
  margin-left: 33%;
  position: relative;
  z-index: 2;
  background-image: url('http://h6c5.com/system/pictures/avatars/000/000/020/original/carousel_horse_orange.png?1426401940');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  float:left;
  -webkit-animation: up_down 2s linear infinite;
  -moz-animation: up_down 2s linear infinite;
  -o-animation: up_down 2s linear infinite;
}
.horse_brown {
  width: 120px;
  height: 150px;
  margin-left: 36%;
  position: relative;
  z-index: 2;
  background-image: url('http://h6c5.com/system/pictures/avatars/000/000/021/original/carousel_horse_brown.png?1426401964');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  float: left;
  -webkit-animation: up_down 3s linear infinite;
  -moz-animation: up_down 3s linear infinite;
  -o-animation: up_down 3s linear infinite;
}
@-webkit-keyframes up_down {
  0%   {margin-top: -330px;}
  50%  {margin-top: -280px;}
  100% {margin-top: -330px;}
}
@-moz-keyframes up_down {
  0%   {margin-top: -330px;}
  50%  {margin-top: -280px;}
  100% {margin-top: -330px;}
}
@-o-keyframes up_down {
  0%   {margin-top: -330px;}
  50%  {margin-top: -280px;}
  100% {margin-top: -330px;}
}
.ballon_01 {
  width: 5%;
  height: 15%;
  position: absolute;
  z-index: -60;
  background-image: url('http://h6c5.com/system/pictures/avatars/000/000/022/original/hot_balloon_01.png?1426402005');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: .9;

  -webkit-animation: hot_ballon 20s linear infinite;
  -moz-animation: hot_ballon 20s linear infinite;
  -o-animation: hot_ballon 20s linear infinite;
}
@-webkit-keyframes hot_ballon {
  0%   {bottom:200px; margin-bottom: -200px; margin-left: -30%}
  20%  {bottom:200px; margin-bottom:    0px; margin-left:  30%}
  100% {bottom:200px; margin-bottom:  500px; margin-left:  90%}
}
@-moz-keyframes hot_ballon {
  0%   {bottom:200px; margin-bottom: -200px; margin-left: -30%}
  20%  {bottom:200px; margin-bottom:    0px; margin-left:  30%}
  100% {bottom:200px; margin-bottom:  500px; margin-left:  90%}
}
@-o-keyframes hot_ballon {
  0%   {bottom:200px; margin-bottom: -200px; margin-left: -30%}
  20%  {bottom:200px; margin-bottom:    0px; margin-left:  30%}
  100% {bottom:200px; margin-bottom:  500px; margin-left:  90%}
}
.ballon_02 {
  width: 9%;
  height: 19%;
  position: absolute;
  z-index: -18;
  background-image: url('http://h6c5.com/system/pictures/avatars/000/000/023/original/hot_balloon_02.png?1426402028');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  -webkit-animation: hot_ballon_2 70s linear infinite;
  -moz-animation:    hot_ballon_2 70s linear infinite;
  -o-animation:      hot_ballon_2 70s linear infinite;
}
@-webkit-keyframes hot_ballon_2 {
  0%   {bottom:200px; margin-bottom: -300px; margin-left: -10%;}
  20%  {bottom:200px; margin-bottom:    0px; margin-left:  50%;}
  100% {bottom:200px; margin-bottom:  400px; margin-left:  90%;}
}
@-moz-keyframes hot_ballon_2 {
  0%   {bottom:200px; margin-bottom: -300px; margin-left: -10%;}
  20%  {bottom:200px; margin-bottom:    0px; margin-left:  50%;}
  100% {bottom:200px; margin-bottom:  400px; margin-left:  90%;}
}
@-o-keyframes hot_ballon_2 {
  0%   {bottom:200px; margin-bottom: -300px; margin-left: -10%;}
  20%  {bottom:200px; margin-bottom:    0px; margin-left:  50%;}
  100% {bottom:200px; margin-bottom:  400px; margin-left:  90%;}
}
@-webkit-keyframes rotating {
  0% {
    -ms-transform:     rotate(0deg);
    -moz-transform:    rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform:      rotate(0deg);
    transform:         rotate(0deg);
  }
  100% {
    -ms-transform:     rotate(360deg);
    -moz-transform:    rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform:      rotate(360deg);
    transform:         rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 30s linear infinite;
  -moz-animation:    rotating 30s linear infinite;
  -ms-animation:     rotating 30s linear infinite;
  -o-animation:      rotating 30s linear infinite;
  animation:         rotating 30s linear infinite;
}

.rotating_ball {
  -webkit-animation: rotating .8s linear infinite;
  -moz-animation: rotating .8s linear infinite;
  -ms-animation: rotating .8s linear infinite;
  -o-animation: rotating .8s linear infinite;
  animation: rotating .8s linear infinite;
}
.move_the_ball {
  -webkit-animation: moving_the_ball 20s linear infinite;
  -moz-animation: moving_the_ball 20s linear infinite;
  -ms-animation: moving_the_ball 20s linear infinite;
  -o-animation: moving_the_ball 20s linear infinite;
  animation: moving_the_ball 20s linear infinite;
}
@-webkit-keyframes moving_the_ball {
  0% {margin-left: -30%;}
  100% {margin-left: 150%;}
}
@-moz-keyframes moving_the_ball {
  0% {margin-left: -30%;}
  100% {margin-left: 150%;}
}
@-o-keyframes moving_the_ball {
  0% {margin-left: -30%;}
  100% {margin-left: 150%;}
}
#clouds{
  max-width: 100%;
  padding: 150px 0;
  background: #c9dbe9;
  background: -webkit-linear-gradient(top, #c9dbe9 0%, #fff 100%);
  background: -linear-gradient(top, #c9dbe9 0%, #fff 100%);
  background: -moz-linear-gradient(top, #c9dbe9 0%, #fff 100%);
  position:relative ;
  z-index: -100;
}
.cloud {
  width: 200px; height: 60px;
  background: #fff;
  border-radius: 200px;
  -moz-border-radius: 200px;
  -webkit-border-radius: 200px;
  position: relative; 
}
.cloud:before, .cloud:after {
  content: '';
  position: absolute; 
  background: #fff;
  width: 100px; height: 80px;
  position: absolute; top: -15px; left: 10px;
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
  -moz-transform: rotate(30deg);
}
.cloud:after {
  width: 120px; height: 120px;
  top: -55px; left: auto; right: 15px;
}
.x1 {
  left: -200px;
  -webkit-animation: moveclouds 10s linear infinite;
  -moz-animation: moveclouds 10s linear infinite;
  -o-animation: moveclouds 10s linear infinite;
  z-index: 1;
}
.x2 {
  left: -200px;
  margin-top: 500px;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  transform: scale(0.6);
  opacity: 0.6; 
  -webkit-animation: moveclouds 25s linear infinite;
  -moz-animation: moveclouds 25s linear infinite;
  -o-animation: moveclouds 25s linear infinite;
}
.x3 {
  left: -200px; top: -200px; 
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0.8; 
  -webkit-animation: moveclouds 12s linear infinite;
  -moz-animation: moveclouds 12s linear infinite;
  -o-animation: moveclouds 12s linear infinite;
}
.x4 {
  left: -200px; top: -250px;
  -webkit-transform: scale(0.75);
  -moz-transform: scale(0.75);
  transform: scale(0.75);
  opacity: 0.75; 
  -webkit-animation: moveclouds 14s linear infinite;
  -moz-animation: moveclouds 14s linear infinite;
  -o-animation: moveclouds 14s linear infinite;
}
.x5 {
  left: -200px; top: -150px;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0.9;
  -webkit-animation: moveclouds 14s linear infinite;
  -moz-animation: moveclouds 14s linear infinite;
  -o-animation: moveclouds 14s linear infinite;
}
.x6 {
  left: -200px; top: -400px;
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  transform: scale(0.7);
  opacity: 0.7; 
  -webkit-animation: moveclouds 28s linear infinite;
  -moz-animation: moveclouds 28s linear infinite;
  -o-animation: moveclouds 28s linear infinite;
}
.x7 {
  left: -200px; top: -280px;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0.8;    
  -webkit-animation: moveclouds 22s linear infinite;
  -moz-animation: moveclouds 22s linear infinite;
  -o-animation: moveclouds 22s linear infinite;
}
.x8 {
  left: -200px; top: -580px;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  transform: scale(0.9);
  opacity: 0.8;    
  -webkit-animation: moveclouds 18s linear infinite;
  -moz-animation: moveclouds 18s linear infinite;
  -o-animation: moveclouds 18s linear infinite;
}
.x9 {
  left: -200px; top: -980px;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  transform: scale(0.9);
  opacity: 0.8; 
  -webkit-animation: moveclouds 7s linear infinite;
  -moz-animation: moveclouds 7s linear infinite;
  -o-animation: moveclouds 7s linear infinite;
}
.x10 {
  left: -200px; top: -1180px;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  transform: scale(0.6);
  opacity: 0.4; 
  -webkit-animation: moveclouds 22s linear infinite;
  -moz-animation: moveclouds 22s linear infinite;
  -o-animation: moveclouds 22s linear infinite;
}
@-webkit-keyframes moveclouds {
  0% {margin-left: -50%;}
  100% {margin-left: 100%;}
}
@-moz-keyframes moveclouds {
  0% {margin-left: -50%;}
  100% {margin-left: 100%;}
}
@-o-keyframes moveclouds {
  0% {margin-left: -50%;}
  100% {margin-left: 100%;}
}
@-webkit-keyframes airplane {
  0% {margin-left: -450%;}
  100% {margin-left: 100%;}
}
@-moz-keyframes airplane {
  0% {margin-left: -50%;}
  100% {margin-left: 100%;}
}
@-o-keyframes airplane {
  0% {margin-left: -50%;}
  100% {margin-left: 100%;}
}
.airplane-01 {
  height: 173px;
  background-image: url('http://h6c5.com/system/pictures/avatars/000/000/024/original/airplane_long_banner_173.png?1426402067');
  background-position: center left;
  background-repeat: no-repeat;
  position: relative;
  z-index: -1;
  float: left;
  clear: right;
  margin-top: 2400px;
  -webkit-animation: airplane-01 25s linear infinite;
  -moz-animation:    airplane-01 25s linear infinite;
  -o-animation:      airplane-01 25s linear infinite;
}
@-webkit-keyframes airplane-01 {
  30%  {margin-left:   100%; width:   0%;}
  100% {margin-left:  -200%; width: 300%;}
}
@-moz-keyframes airplane-01 {
  30%  {margin-left:   100%; width:   0%;}
  100% {margin-left:  -200%; width: 300%;}
}
@-o-keyframes airplane-01 {
  30%  {margin-left:   100%; width:   0%;}
  100% {margin-left:  -200%; width: 300%;}
}
.move_the_sky {
  -webkit-animation: moving_the_sky 6s linear forwards;
  -moz-animation:    moving_the_sky 6s linear forwards;
  -o-animation:      moving_the_sky 6s linear forwards;
}
@-webkit-keyframes moving_the_sky {
  0%   {margin-top:     0px;}
  80%  {margin-top:     0px;}
  100% {margin-top: -2300px;}
}
@-moz-keyframes moving_the_sky {
  0%   {margin-top:     0px;}
  80%  {margin-top:     0px;}
  100% {margin-top: -2300px;}
}
@-o-keyframes moving_the_sky {
  0%   {margin-top:     0px;}
  80%  {margin-top:     0px;}
  100% {margin-top: -2300px;}
}
.leyend {
  width: 100%;
  font-size: 90px;
  font-family: 'Helvetica Neue', Arial;
  font-weight: 100;
  letter-spacing: 5px;
  text-align: center;
  color: white;
  position: fixed; z-index:  110;  
  margin-top: 10%;
}
.first_line {
  -webkit-animation: showing_text 1s linear forwards;
  -moz-animation:    showing_text 1s linear forwards;
  -o-animation:      showing_text 1s linear forwards;
}
.second_line {
  margin-top:10%;
  padding-top: 120px;
  -webkit-animation: showing_text 3s linear forwards;
  -moz-animation:    showing_text 3s linear forwards;
  -o-animation:      showing_text 3s linear forwards;
}
@-webkit-keyframes showing_text {
  0%   {opacity: 0;}
  70%  {opacity: 0;}
  100% {opacity: 1;}
}
@-moz-keyframes showing_text {
  0%   {opacity: 0;}
  70%  {opacity: 0;}
  100% {opacity: 1;}
}
@-o-keyframes showing_text {
  0%   {opacity: 0;}
  70%  {opacity: 0;}
  100% {opacity: 1;}
}
@media only screen and (max-device-width: 414px){
  .airplane-01 {
    margin-top: 3540px;
    height: 250px;
    background-image: url('http://h6c5.com/system/pictures/avatars/000/000/025/original/airplane_long_banner_250.png?1426450323');
    -webkit-animation: airplane-01 20s linear infinite;
    -moz-animation:    airplane-01 20s linear infinite;
    -o-animation:      airplane-01 20s linear infinite;
  } 
  @-webkit-keyframes airplane-01 {
  30%  {margin-left:   100%; width:   0%;}
  100% {margin-left:  -300%; width: 400%;}
}
  @-webkit-keyframes moving_the_sky {
    50%   {margin-top:       0px}
    100%  {margin-top:   -3150px}
  }
  @-moz-keyframes moving_the_sky {
    50%   {margin-top:       0px}
    100%  {margin-top:   -3150px}
  }
  @-o-keyframes moving_the_sky {
    50%   {margin-top:       0px}
    100%  {margin-top:   -3150px}
  }
  .leyend {
    margin-top: 40%;
  }
  .second_line {
    margin-top: 40%;
  }
}