/* ------- THANKS OPEN SOURCE COMMUNITY! ------- */
/* http://stackoverflow.com/questions/15354772/how-can-i-change-the-pivot-point-of-this-flip-animation */
/* http://thecodeplayer.com/walkthrough/pure-css3-animated-clouds-background */
/* http://www.colorzilla.com/gradient-editor/ */

/* ------- MESSAGE FOR FUTURE-ME: PLEASE, REFACTOR THIS FILE ------- */
/* Sass? */
/* A lot of code repetition */
/* For re-usability, some classes could live in different files */


*{ margin: 0; padding: 0}
body {
}
.airplane-01 {
  height: 160px;
  background-image: url('images/airplane-01-60.png');
  background-position: center left;
  background-repeat: no-repeat;
  position: relative;
  z-index: 30;
  float: left;
  margin-top: 1700px;

  -webkit-animation: airplane-01 15s linear ;
  -moz-animation: airplane-01 15s linear ;
  -o-animation: airplane-01 15s linear ;
}
.clown {
  width: 300px;
  height: 400px;
  float: right;
  position: relative;
  z-index: 5;
  background-image: url('images/clown.png');
  background-repeat: no-repeat;
  margin-top: -470px;
}
.airplane {
  width: 120px; height: 150px;
  background-image: url('images/airplane.png');
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  z-index: 20;
  float: left;
  margin-top: 1600px;

  -webkit-animation: airplane 18s linear infinite;
  -moz-animation: airplane 18s linear infinite;
  -o-animation: airplane 18s linear infinite;

  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
.village {
  width: 100%;
  height: 500px;
}
.night_sky {
  width: 100%;
  height: 200vh;
  position: relative;
  z-index: -290;
  background: rgb(0,0,0);
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI2MCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI5MyUiIHN0b3AtY29sb3I9IiNjYmRiZTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(0,0,0,1) 60%, rgba(203,219,232,1) 93%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%,rgba(0,0,0,1)), color-stop(93%,rgba(203,219,232,1)));
  background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 60%,rgba(203,219,232,1) 93%);
  background: -o-linear-gradient(top,  rgba(0,0,0,1) 60%,rgba(203,219,232,1) 93%);
  background: -ms-linear-gradient(top,  rgba(0,0,0,1) 60%,rgba(203,219,232,1) 93%);
  background: linear-gradient(to bottom,  rgba(0,0,0,1) 60%,rgba(203,219,232,1) 93%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#cbdbe8',GradientType=0 );
}
.stars {
  width: 100%;
  height: 120vh;
  background-image: url('images/stars.png');
  position: absolute;
  z-index: 100;
  opacity: .6
}
#big_top {
  width: 60%;
  height: 90%;
  background-image: url('images/circus.png');
  background-size:contain;
  background-repeat: no-repeat;
  background-position: right bottom;
  position: relative;
  z-index: -6;
  right: -35%;
  margin-top: -400px;
}
.landscape {
  width: 100%;
  height: 20%;
  position: fixed;
  z-index: -9;
}
.road {
  width: 100%;
  height: 200px;
  position: relative;
  z-index: -7;
  margin-top:-270px;
  background: rgb(133,196,15);
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI2JSIgc3RvcC1jb2xvcj0iIzg1YzQwZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjYxJSIgc3RvcC1jb2xvcj0iIzVjNzcwOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0ZjYwMDciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(133,196,15,1) 6%, rgba(92,119,9,1) 61%, rgba(79,96,7,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(6%,rgba(133,196,15,1)), color-stop(61%,rgba(92,119,9,1)), color-stop(100%,rgba(79,96,7,1)));
  background: -webkit-linear-gradient(top,  rgba(133,196,15,1) 6%,rgba(92,119,9,1) 61%,rgba(79,96,7,1) 100%);
  background: -o-linear-gradient(top,  rgba(133,196,15,1) 6%,rgba(92,119,9,1) 61%,rgba(79,96,7,1) 100%);
  background: -ms-linear-gradient(top,  rgba(133,196,15,1) 6%,rgba(92,119,9,1) 61%,rgba(79,96,7,1) 100%);
  background: linear-gradient(to bottom,  rgba(133,196,15,1) 6%,rgba(92,119,9,1) 61%,rgba(79,96,7,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#85c40f', endColorstr='#4f6007',GradientType=0 );
}
.gradient_landscape {
  background: #6cad22;
  background: -moz-linear-gradient(top,  #6cad22 0%, #36961c 35%, #147f3d 66%, #5b7c67 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6cad22), color-stop(35%,#36961c), color-stop(66%,#147f3d), color-stop(100%,#5b7c67));
  background: -webkit-linear-gradient(top,  #6cad22 0%,#36961c 35%,#147f3d 66%,#5b7c67 100%);
  background: -o-linear-gradient(top,  #6cad22 0%,#36961c 35%,#147f3d 66%,#5b7c67 100%);
  background: -ms-linear-gradient(top,  #6cad22 0%,#36961c 35%,#147f3d 66%,#5b7c67 100%);
  background: linear-gradient(to bottom,  #6cad22 0%,#36961c 35%,#147f3d 66%,#5b7c67 100%);
}
.bush {
  width: 100%;
  height: 100PX;
  margin-top: -170px;
  position: relative;
  bottom:0;
  z-index: 4;
  float: left;
  background-image: url('images/bushes2.png');
  background-size: fill;
  background-repeat: repeat-x;
}
.back {
  width: 100%;
  height: 30vh;
  bottom: 0;
  margin-top: -40vh;
  position: relative;
  z-index: -7;
  background-image: url('images/back.png');
  background-size: cover;
  background-repeat: repeat-x;
}
.villa {
  width: 100%;
  height: 12vh;
  margin-top: -12vh;
  margin-left: -22%;
  padding-right: 22%;
  position: relative;
  z-index: -6;
  background-image: url('images/villa_02.png');
  background-size: contain;
  background-repeat: repeat-x;
  opacity: .5;
}
.wheel_game {
  width: 500px;
  height: 100%;
  margin-top: -280px;
}
.wheel {
  width: 100%;
  height: 100%;
  margin-top: -120%;
  margin-left: -30%;
  position: relative;
  z-index: -2;
  background-image: url('images/wheel.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  -webkit-animation: wheel 25s linear infinite;
  -moz-animation: wheel 25s linear infinite;
  -o-animation: wheel 25s linear infinite;
}
.wheel_base {
  width: 55%;
  height: 75%;
  margin-top:-20%;
  margin-left:-6%;
  position: relative;
  z-index: -6;
  background-image: url('images/wheel_base.png');
  background-size: contain;
  opacity: .7;
  background-repeat: no-repeat;
  background-position: center;
}
.ball {
  width: 4%;
  height: 4%;
  margin-top:4vh;
  position: fixed;
  z-index: -6;
  background-image: url('images/ball.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.elephant {
  width: 9%;
  height: 9%;
  margin-top:-3vh;  
  margin-left: -2%;
  position: fixed;
  z-index: -4;
  background-image: url('images/elephant.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel {
  width: 300px;
  height: 280px;
  margin-left: 28%;
  margin-top: -410px;
  background-image: url('images/carousel.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 3;
  float: left;
}
.carousel_base {
  width: 240px;
  height: 280px;
  margin-left: 30%;
  margin-top: -410px;
  position: relative;
  z-index: 1;
  float: left;
  background-image: url('images/carousel_base.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.horse_green {
  width: 120px;
  height: 150px;
  margin-left: 30%;
  position: relative;
  z-index: 2;
  background-image: url('images/carousel_horse_green.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  float:left;
  -webkit-animation: up_down 4s linear infinite;
  -moz-animation: up_down 4s linear infinite;
  -o-animation: up_down 4s linear infinite;
}
.horse_orange {
  width: 120px;
  height: 150px;
  margin-left: 33%;
  position: relative;
  z-index: 2;
  background-image: url('images/carousel_horse_orange.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  float:left;
  -webkit-animation: up_down 2s linear infinite;
  -moz-animation: up_down 2s linear infinite;
  -o-animation: up_down 2s linear infinite;
}
.horse_brown {
  width: 120px;
  height: 150px;
  margin-left: 36%;
  position: relative;
  z-index: 2;
  background-image: url('images/carousel_horse_brown.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  float: left;
  -webkit-animation: up_down 3s linear infinite;
  -moz-animation: up_down 3s linear infinite;
  -o-animation: up_down 3s linear infinite;
}
.ballon_01 {
  width: 5%;
  height: 15%;
  position: absolute;
  z-index: -60;
  background-image: url('images/hot_balloon_01.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: .9;

  -webkit-animation: hot_ballon 20s linear infinite;
  -moz-animation: hot_ballon 20s linear infinite;
  -o-animation: hot_ballon 20s linear infinite;
}

.ballon_02 {
  width: 9%;
  height: 19%;
  position: absolute;
  z-index: -18;
  background-image: url('images/hot_balloon_02.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  -webkit-animation: hot_ballon_2 70s linear infinite;
  -moz-animation: hot_ballon_2 70s linear infinite;
  -o-animation: hot_ballon_2 70s linear infinite;
}
@-webkit-keyframes hot_ballon_2 {
  0%   {bottom:-2100px; margin-bottom: -300px; margin-left: -10%;}
  20%  {bottom:-2100px; margin-bottom: 0px; margin-left: 50%;}
  100% {bottom:-2100px; margin-bottom: 400px; margin-left: 90%;}
}
@-webkit-keyframes hot_ballon {
  0%   {bottom:-2100px; margin-bottom: -200px; margin-left: -30%;}
  20%  {bottom:-2100px; margin-bottom: 0px; margin-left: 30%;}
  100% {bottom:-2100px; margin-bottom: 500px; margin-left: 90%;}
}



@-moz-keyframes hot_ballon_2 {
  0%   {bottom:-1400px; margin-bottom: 0vh; margin-left: 40%;}
  20%  {bottom:-1400px; margin-bottom: 20vh; margin-left: 50%;}
  100% {bottom:-1400px; margin-bottom: 60vh; margin-left: 100%;}
}
@-o-keyframes hot_ballon_2 {
  0%   {bottom:-1400px; margin-bottom: 0vh; margin-left: 40%;}
  20%  {bottom:-1400px; margin-bottom: 20vh; margin-left: 50%;}
  100% {bottom:-1400px; margin-bottom: 60vh; margin-left: 100%;}
}
@-moz-keyframes hot_ballon {
  0%   {bottom:-1400px; margin-bottom: 0vh; margin-left: 20%;}
  20%  {bottom:-1400px; margin-bottom: 30vh; margin-left: 30%;}
  100% {bottom:-1400px; margin-bottom: 60vh; margin-left: 100%;}
}
@-o-keyframes hot_ballon {
  0%   {bottom:-1400px; margin-bottom: 0vh; margin-left: 20%;}
  20%  {bottom:-1400px; margin-bottom: 30vh; margin-left: 30%;}
  100% {bottom:-1400px; margin-bottom: 60vh; margin-left: 100%;}
}
@-webkit-keyframes up_down {
  0% {margin-top: -330px;}
  50% {margin-top: -280px;}
  100% {margin-top: -330px;}
}
@-moz-keyframes up_down {
  0% {margin-top: -580px;}
  50% {margin-top: -540px;}
  100% {margin-top: -580px;}
}
@-o-keyframes up_down {
  0% {margin-top: -580px;}
  50% {margin-top: -540px;}
  100% {margin-top: -580px;}
}

@-webkit-keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 30s linear infinite;
  -moz-animation: rotating 30s linear infinite;
  -ms-animation: rotating 30s linear infinite;
  -o-animation: rotating 30s linear infinite;
  animation: rotating 30s linear infinite;
}

.rotating_ball {
  -webkit-animation: rotating .8s linear infinite;
  -moz-animation: rotating .8s linear infinite;
  -ms-animation: rotating .8s linear infinite;
  -o-animation: rotating .8s linear infinite;
  animation: rotating .8s linear infinite;
}
.move_the_ball {
  -webkit-animation: moving_the_ball 20s linear infinite;
  -moz-animation: moving_the_ball 20s linear infinite;
  -ms-animation: moving_the_ball 20s linear infinite;
  -o-animation: moving_the_ball 20s linear infinite;
  animation: moving_the_ball 20s linear infinite;
}
@-webkit-keyframes moving_the_ball {
  0% {margin-left: -30%;}
  100% {margin-left: 150%;}
}
@-moz-keyframes moving_the_ball {
  0% {margin-left: -30%;}
  100% {margin-left: 150%;}
}
@-o-keyframes moving_the_ball {
  0% {margin-left: -30%;}
  100% {margin-left: 150%;}
}


/* CLOUDS */
#clouds{
  max-width: 100%;
  padding: 150px 0;
  background: #c9dbe9;
  background: -webkit-linear-gradient(top, #c9dbe9 0%, #fff 100%);
  background: -linear-gradient(top, #c9dbe9 0%, #fff 100%);
  background: -moz-linear-gradient(top, #c9dbe9 0%, #fff 100%);
  position:relative ;
  z-index: -100;
}

.cloud {
  width: 200px; height: 60px;
  background: #fff;
  
  border-radius: 200px;
  -moz-border-radius: 200px;
  -webkit-border-radius: 200px;
  
  position: relative; 
}

.cloud:before, .cloud:after {
  content: '';
  position: absolute; 
  background: #fff;
  width: 100px; height: 80px;
  position: absolute; top: -15px; left: 10px;
  
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
  -moz-transform: rotate(30deg);
}
.cloud:after {
  width: 120px; height: 120px;
  top: -55px; left: auto; right: 15px;
}
.x1 {
  left: -200px;
  -webkit-animation: moveclouds 10s linear infinite;
  -moz-animation: moveclouds 10s linear infinite;
  -o-animation: moveclouds 10s linear infinite;
  z-index: 1;
}
.x2 {
  left: -200px;
  margin-top: 500px;

  
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  transform: scale(0.6);
  opacity: 0.6; 
  
  -webkit-animation: moveclouds 25s linear infinite;
  -moz-animation: moveclouds 25s linear infinite;
  -o-animation: moveclouds 25s linear infinite;
}
.x3 {
  left: -200px; top: -200px; 
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0.8; 
  
  -webkit-animation: moveclouds 12s linear infinite;
  -moz-animation: moveclouds 12s linear infinite;
  -o-animation: moveclouds 12s linear infinite;
}

.x4 {
  left: -200px; top: -250px;
  
  -webkit-transform: scale(0.75);
  -moz-transform: scale(0.75);
  transform: scale(0.75);
  opacity: 0.75; 
  
  -webkit-animation: moveclouds 14s linear infinite;
  -moz-animation: moveclouds 14s linear infinite;
  -o-animation: moveclouds 14s linear infinite;
}

.x5 {
  left: -200px; top: -150px;

  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0.9;
  
  -webkit-animation: moveclouds 14s linear infinite;
  -moz-animation: moveclouds 14s linear infinite;
  -o-animation: moveclouds 14s linear infinite;
}
.x6 {
  left: -200px; top: -400px;

  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  transform: scale(0.7);
  opacity: 0.7; 
  
  -webkit-animation: moveclouds 28s linear infinite;
  -moz-animation: moveclouds 28s linear infinite;
  -o-animation: moveclouds 28s linear infinite;
}
.x7 {
  left: -200px; top: -280px;

  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0.8;  
  
  -webkit-animation: moveclouds 22s linear infinite;
  -moz-animation: moveclouds 22s linear infinite;
  -o-animation: moveclouds 22s linear infinite;
}
.x8 {
  left: -200px; top: -580px;
  

  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  transform: scale(0.9);
  opacity: 0.8;  
  
  -webkit-animation: moveclouds 18s linear infinite;
  -moz-animation: moveclouds 18s linear infinite;
  -o-animation: moveclouds 18s linear infinite;
}
.x9 {
  left: -200px; top: -980px;

  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  transform: scale(0.9);
  opacity: 0.8; 
  
  -webkit-animation: moveclouds 7s linear infinite;
  -moz-animation: moveclouds 7s linear infinite;
  -o-animation: moveclouds 7s linear infinite;
}
.x10 {
  left: -200px; top: -1180px;
  
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  transform: scale(0.6);
  opacity: 0.4; 
  
  -webkit-animation: moveclouds 22s linear infinite;
  -moz-animation: moveclouds 22s linear infinite;
  -o-animation: moveclouds 22s linear infinite;
}
@-webkit-keyframes moveclouds {
  0% {margin-left: -50%;}
  100% {margin-left: 100%;}
}
@-moz-keyframes moveclouds {
  0% {margin-left: -50%;}
  100% {margin-left: 100%;}
}
@-o-keyframes moveclouds {
  0% {margin-left: -50%;}
  100% {margin-left: 100%;}
}
@-webkit-keyframes airplane {
  0% {margin-left: -200%;}
  100% {margin-left: 100%;}
}
@-moz-keyframes airplane {
  0% {margin-left: -50%;}
  100% {margin-left: 100%;}
}
@-o-keyframes airplane {
  0% {margin-left: -50%;}
  100% {margin-left: 100%;}
}
@-webkit-keyframes airplane-01 {
  0%   {margin-left:  100%; width:   0%;}
  50%  {margin-left:    0%; width: 100%;}
  100% {margin-left: -100%; width:  100%;}
}
@-moz-keyframes airplane-01 {
  0% {margin-left: -50%;}
  100% {margin-left: 100%;}
}
@-o-keyframes airplane-01 {
  0% {margin-left: -50%;}
  100% {margin-left: 100%;}
}
